@import '../variables.scss';
.header{
  background: url(../img/headerBg.png);
  padding: toRem(10);
  &__container{
display: flex;
justify-content: space-between;
align-items: center;
  }
  &__account{
    width: 40px;
    position: relative;
    &::before{
      content:'';
      height: 50px;
      width: 50px;
      position: absolute;
      border: 2px solid white;
      border-right: none;
      left: 44%;
    border-radius: 50%;
      transform: translate(-50%);
      transition: all 0.7s;
    }
    &:hover{
      &::before{
        content:'';
      transform: translate(-50%)rotate(320deg);

      box-shadow: 1px 1px 5px rgb(241, 254, 1);

      }
      
    }
  }
}
.logo{
  width: toRem(170);
}